<section class="weather-card">
    <span class="city-name-text">
        Rome
    </span>
    <div class="weather-icon-container">
        
<svg>Clouds</svg> 
<svg>Rain</svg>
<svg>Storm</svg>
<svg>Sunny</svg>
<svg>Fog</svg>

    </div>
    <div class="temperature-text-container">
        <span class="temperature-text"></span>
        <span class="temperature-metric-text">°</span>
        <span class="weather-condition-text"></span>
    </div>
    <section class="min-max-container">
        <div class="min-container">
            <svg class="min-arrow__icon" viewBox="188.5 807 21 21">
                <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow"/>
            </svg> 
            <span class="min-temperature-text"></span>
            <span class="min-text">Min</span>
        </div>
        <div class="max-container">
            <svg class="max-arrow__icon" viewBox="449.5 820 21 21">
                <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow"/>
            </svg>
            <span class="max-temperature-text"></span>
        <span class="max-text">Max</span>
        </div>
    </section>
</section>